:root {
  --primary-orange: hsl(35, 77%, 62%);
  --primary-red: hsl(5, 98%, 46%);
  --dark-blue: hsl(240, 100%, 5%);
  --dark-gray-blue: hsl(236, 13%, 42%);
  --gray-blue: hsl(233, 8%, 79%);
  --off-white: hsl(36, 100%, 99%);
  --font: 'Inter', sans-serif;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px 1fr auto;
  grid-template-areas:
    'header header header'
    'main main latest'
    'carousel carousel carousel';
  gap: 1.25rem;
  max-width: calc(100% - 200px);
  margin: 2rem auto 4rem auto;
}

@media (max-width: 1200px) {
  main {
    max-width: calc(100% - 100px);
  }
}

@media (max-width: 899px) {
  main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'header header'
      'main main'
      'latest latest'
      'carousel carousel';
  }
}

@media (max-width: 767px) {
  main {
    grid-template-columns: 1fr;
    grid-template-areas:
      'header'
      'main'
      'latest'
      'carousel';
    max-width: calc(100% - 32px);
  }
}

nav {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.logo {
  width: 50px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

#menu-icon {
  display: none;
}

@media (max-width: 600px) {
  html,
  body {
    overflow-x: hidden; /* Prevent horizontal scroll */
    position: relative; /* Prevent horizontal scroll on mobile*/
  }

  .overlay-show {
    display: block;
  }

  #menu-icon {
    display: block;
    cursor: pointer;
    position: relative;
    z-index: 5;
  }

  .nav-show {
    transform: translateX(0%);
    transition: transform 0.25s ease-in;
  }

  nav ul {
    position: absolute;
    right: 0px;
    top: 12vh;
    height: 75vh;
    width: 50%;
    transform: translateX(100%);
    z-index: 1;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    background-color: white;
    padding-top: 3rem;
    padding-left: 2rem;
    box-shadow: 0px 2px 4px #f3f3f3;
    transition: 0.25s;
  }
}

.main-news {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'hero hero'
    'headline blurb';
  gap: 1.5rem;
}

.main-news__hero {
  grid-area: hero;
}

.main-news__headline {
  grid-area: headline;
  font-size: 3.5rem;
  line-height: 1;
  align-self: center;
}

.main-news__blurb {
  grid-area: blurb;
  font-size: 16px;
}

.main-news__blurb p {
  line-height: 1.75;
  margin-bottom: 1.75rem;
}

button {
  background-color: var(--primary-red);
  color: white;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 0;
  padding: 1rem 2.25rem;
}

@media (max-width: 899px) {
  .main-news__headline {
    font-size: 3.25rem;
  }
}

@media (max-width: 767px) {
  .main-news {
    grid-template-columns: 1fr;
    grid-template-areas:
      'hero'
      'headline'
      'blurb';
    margin-bottom: 2rem;
  }

  .main-news__headline {
    font-size: 2.75rem;
  }
}

.latest-news {
  grid-area: latest;
  background-color: var(--dark-blue);
  color: var(--off-white);
  padding: 1.5rem 1.5rem 0 1.5rem;
  display: flex;
  flex-direction: column;
}

.latest-news h1 {
  color: var(--primary-orange);
  font-size: 2.25rem;
}

.latest-news-item h2 {
  font-size: 1.125rem;
  margin-bottom: 0.75rem;
  font-weight: 700;
}

.latest-news-item p {
  color: var(--gray-blue);
  line-height: 1.5;
}

.latest-news-item {
  border-bottom: 1px solid var(--gray-blue);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.latest-news-item:last-of-type {
  border: 0;
  padding-bottom: 0;
}

@media (max-width: 899px) {
  .latest-news-item {
    padding: 1.5rem 0;
  }

  .latest-news-item:last-of-type {
    padding-bottom: 1.5rem;
  }
}

.carousel {
  grid-area: carousel;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 2.5rem;
}

@media (max-width: 767px) {
  .carousel {
    gap: 1.5rem;
  }
}

.carousel-item {
  flex: 1;
  display: grid;
  grid-template-columns: 90px auto;
  gap: 1rem;
}

@media (max-width: 767px) {
  .carousel-item {
    flex: 0;
    flex-basis: 45%;
  }
}

@media (max-width: 599px) {
  .carousel-item {
    flex-basis: 100%;
    align-items: stretch;
  }
}

.carousel-item img {
  grid-column: 1 / 2;
}

.carousel-item__body {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.carousel-item__body h2 {
  font-size: 1.5rem;
  color: var(--dark-gray-blue);
  font-weight: 800;
}

.carousel-item__body h3 {
  font-size: 1.125rem;
}

.carousel-item__body p {
  line-height: 1.5;
}

.fm-byline-row {
  padding-bottom: 2rem;
}

.fm-byline {
  font-size: 0.7rem;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: center;
}

.fm-byline,
.fm-byline a {
  color: hsl(228, 45%, 44%);
}
