:root {
  --primary-orange: hsl(35, 77%, 62%);
  --primary-red: hsl(5, 85%, 63%);
  --dark-blue: hsl(240, 100%, 5%);
  --dark-gray-blue: hsl(236, 13%, 42%);
  --gray-blue: hsl(233, 8%, 79%);
  --off-white: hsl(36, 100%, 99%);
  --font: 'Inter', sans-serif;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: var(--font);
  font-size: 14px;
  font-weight: 400;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px 1fr auto;
  grid-template-areas:
    'header header header'
    'main main latest'
    'carousel carousel carousel';
  gap: 2rem;
  max-width: calc(100% - 200px);
  margin: 2rem auto;
}

@media (max-width: 1200px) {
  main {
    max-width: calc(100% - 100px);
  }
}

@media (max-width: 600px) {
  main {
    max-width: calc(100% - 32px);
  }
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.logo {
  width: 50px;
}

nav ul {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.main-news {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'hero hero'
    'headline blurb';
  gap: 1.5rem;
}

.main-news__hero {
  grid-area: hero;
}

.main-news__headline {
  grid-area: headline;
  font-size: 3.2rem;
  line-height: 1;
  align-self: center;
}

.main-news__blurb {
  grid-area: blurb;
  font-size: 15px;
}

.main-news__blurb p {
  line-height: 1.75;
  margin-bottom: 1.75rem;
}

button {
  background-color: var(--primary-red);
  color: var(--off-white);
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 0;
  padding: 1rem 2.25rem;
}

.latest-news {
  grid-area: latest;
  background-color: var(--dark-blue);
  color: var(--off-white);
  padding: 2rem 1.55rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 1rem; */
}

.latest-news h1 {
  color: var(--primary-orange);
  font-size: 2.25rem;
}

.latest-news-item h2 {
  font-size: 1.125rem;
  margin-bottom: 0.75rem;
  font-weight: 700;
}

.latest-news-item p {
  color: var(--gray-blue);
  line-height: 1.5;
}

.latest-news-item {
  border-bottom: 1px solid var(--gray-blue);
  padding: 1.5rem 0;
}

.latest-news-item:last-of-type {
  border: 0;
  padding-bottom: 0;
}

.carousel {
  grid-area: carousel;
}

.fm-byline {
  font-size: 0.75rem;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: center;
}

.fm-byline,
.fm-byline a {
  color: hsl(228, 45%, 44%);
}
